
@{
    ViewBag.Title = "Index";
}

<h4>Toplama işlemi sonucu => <span style="color:red">@ViewBag.Result1</span></h4>

<h4>Çıkarma işlemi sonucu => <span style="color:red">@ViewBag.Result2</span></h4>

<h4>Çarpma işlemi sonucu =>  <span style="color:red">@ViewBag.Result3</span></h4>

<h4>Bölme işlemi sonucu =>   <span style="color:red">@ViewBag.Result4</span></h4>


